<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8baa7">  <td>22/04/11 16:11:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTests.testApiGetRequest()[pri:0, instance:ApiTests@709ba3fb]">testApiGetRequest</td> 
  <td>main@728258269</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>22/04/11 16:11:56</td>   <td>1512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTests.testGetRequestSendStatusCode200AndId1()[pri:0, instance:ApiTests@709ba3fb]">testGetRequestSendStatusCode200AndId1</td> 
  <td>main@728258269</td>   <td></td> </tr>
<tr bgcolor="a8baa7">  <td>22/04/11 16:11:57</td>   <td>2218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTests.testPostRequestSendStatusCode()[pri:0, instance:ApiTests@709ba3fb]">testPostRequestSendStatusCode</td> 
  <td>main@728258269</td>   <td></td> </tr>
</table>
